<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>client</title>
    <link rel="stylesheet" type="text/css" href="<%=assets[pageName].css%>"/>
</head>
<body>
    <div id="root"><%-content%></div>

    <script>
        window.__INITIAL_STATE__ = <%-JSON.stringify(state)%>
    </script>


    <% if (assets) {%>
        <% if (assets.vendor) {%>
            <script src="<%=assets.vendor.js%>"></script>
        <%}%>
        <% if (assets.react) {%>
            <script src="<%=assets.react.js%>"></script>
        <%}%>
        <script src="<%=assets[pageName].js%>"></script>
    <%}%>

</body>
</html>
